server: http://localhost:8080

load:
  - src/collector.js
  - src-test/relativeScript.js
  - src-test/relativeUrl.css

test:
  - src-test/collector.test.js
  
serve:
  - src-test/relative1.png
  - src-test/subdir/relative2.png
  - src-test/absolute1.png
  - src-test/subdir/absolute2.png
  - src-test/absoluteScript.js